* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 24px;
}

@media (max-width: 900px) {
  h2 {
    font-size: 34px;
  }
  h3 {
    font-size: 20px;
  }
}
p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5rem;
}

input[type=text],
input[type=password],
input[type=tel],
input[type=button],
input[type=email],
button,
.btn {
  padding: 12px 20px;
  font-size: 1rem;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  border-radius: 3px;
  outline: transparent;
  width: 100%;
  text-decoration: none;
}

button,
.btn {
  position: relative;
  max-width: 200px;
  border: 5px solid #2EC4B6;
  background-color: #2EC4B6;
  font-size: 14px;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  cursor: pointer;
}
button:active,
.btn:active {
  border-top: 5px solid #FF9F1C;
  border-right: 5px solid #FF9F1C;
}
button:after,
.btn:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  background-color: red;
  z-index: 100;
}

html {
  color: #1F1A17;
  font-family: "Roboto", sans-serif;
  background-color: #FFBF69;
}

nav {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  --font-color: white;
  --bg-color: rgba(255, 255, 255, 0);
  background-color: var(--bg-color);
}
nav h2 {
  font-size: 30px;
}
nav .logo-nav {
  height: 80px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin-right: 50px;
  padding: 10px 10px 10px 20px;
  width: 120px;
  background-color: var(--font-color);
  -webkit-mask: url("../thestable.svg") center/100% 100% no-repeat;
  mask: url("../thestable.svg") center/100% 100% no-repeat;
}
nav .nav-links {
  padding: 20px 50px 20px;
}
nav .nav-links a {
  color: var(--font-color);
  text-decoration: none;
  padding: 0 15px;
  font-size: 18px;
}
nav .nav-links .book-now-btn {
  --display: inline;
  display: var(--display);
  background-color: #2EC4B6;
  color: #FFFFFF;
  padding: 10px 25px;
  border-radius: 25px;
}
@media (max-width: 900px) {
  nav .nav-links {
    display: none;
  }
}

#svg_1 path {
  fill: red;
}

.container {
  max-width: 1220px;
  margin: auto;
  padding: 100px 0;
}
@media (max-width: 1440px) {
  .container {
    padding: 50px 20px;
  }
}
@media (max-width: 900px) {
  .container {
    padding: 50px 20px;
  }
}
@media (max-width: 600px) {
  .container {
    padding: 40px 20px;
  }
}

.landing-banner {
  height: 90vh;
  width: 100%;
  position: relative;
  z-index: -1;
  background-color: #FFFFFF;
}
.landing-banner .image-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.landing-banner .image-wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(56, 56, 56, 0.5);
}
.landing-banner .image-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 90%;
}
.landing-banner .landing-text-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 95%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.landing-banner .landing-text-wrapper .landing-text {
  text-align: center;
  margin: auto;
  color: #FFFFFF;
}
.landing-banner .landing-text-wrapper p {
  font-size: 20px;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}
.landing-banner .landing-text-wrapper h1 {
  font-size: 125px;
  margin: 0px 0 30px;
  white-space: nowrap;
  line-height: 120px;
  text-transform: uppercase;
  padding-bottom: 60px;
}
.landing-banner .landing-text-wrapper .landing-book-now {
  padding: 10px 30px;
  font-size: 20px;
}
@media (max-width: 900px) {
  .landing-banner .landing-text-wrapper p {
    font-size: 2vw;
  }
  .landing-banner .landing-text-wrapper h1 {
    font-size: 13vw;
    line-height: 12vw;
  }
  .landing-banner .landing-text-wrapper .landing-book-now {
    padding: 10px 25px;
    font-size: 16px;
  }
}

.about-us {
  background-color: #CBF3F0;
  border-top-left-radius: 250px;
}
.about-us .text-block {
  padding-bottom: 100px;
  width: 70%;
}
.about-us .text-block h2 {
  padding-bottom: 20px;
}
.about-us .card-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style: none;
  text-align: center;
  color: #FFFFFF;
}
.about-us .card-list li {
  width: 100%;
  box-sizing: border-box;
  margin: 20px 0;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid #CBF3F0;
  background-color: #CBF3F0;
}
.about-us .card-list .card-container {
  position: relative;
  width: 100%;
}
.about-us .card-list .card-text {
  padding: 40px 60px 60px;
  position: relative;
  width: 60%;
  text-align: left;
  border-top-right-radius: 50px;
  background-color: #2EC4B6;
}
.about-us .card-list .card-text p {
  padding: 20px 0;
}
.about-us .card-list .card-text h3 {
  padding-bottom: 10px;
  margin-bottom: 35px;
  letter-spacing: 1px;
  font-size: 26px;
  position: relative;
}
.about-us .card-list .card-text h3::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  height: 1px;
  width: 40%;
  border-radius: 2px;
  background-color: white;
}
.about-us .card-list .card-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  padding-bottom: 20px;
}
.about-us .card-list .card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
@media (max-width: 1420px) {
  .about-us {
    border-top-left-radius: 100px;
  }
  .about-us .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 900px) {
  .about-us {
    border-top-left-radius: 50px;
  }
  .about-us .text-block {
    width: 100%;
  }
  .about-us .text-block h2 {
    padding-bottom: 40px;
  }
  .about-us .container {
    padding: 50px 20px;
  }
  .about-us .card-list {
    flex-wrap: wrap;
  }
  .about-us .card-list li {
    width: 100%;
    padding: 40px 0;
  }
  .about-us .card-list .card-image {
    position: static;
    height: 300px;
    width: 100%;
    padding-bottom: 0;
  }
  .about-us .card-list .card-text {
    width: 100%;
    margin: -50px 0;
    padding: 40px 30px 30px;
    box-sizing: border-box;
    border-top-right-radius: 0;
    border-top-left-radius: 50px;
  }
  .about-us .card-list .card-text h3 {
    margin-bottom: 10px;
  }
}

.our-pricing {
  background-color: #ffa01c;
  color: #FFFFFF;
}
.our-pricing .container {
  padding-top: 0;
  padding-bottom: 0;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.our-pricing .pricing-body {
  display: flex;
  justify-content: space-between;
}
.our-pricing .pricing-body h2 {
  padding: 0;
}
.our-pricing .pricing-body .pricing-title {
  padding-right: 50px;
}
.our-pricing .pricing-body .pricing-table {
  padding-top: 5px;
  text-align: right;
}
.our-pricing .pricing-body .pricing-table .price-label {
  white-space: nowrap;
}
.our-pricing .pricing-body .pricing-table .price-label span:first-child {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  padding-right: 5px;
}
.our-pricing .pricing-body .pricing-table .price-label span:nth-child(2) {
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
}
.our-pricing .pricing-body .pricing-table .price-label:nth-child(2) {
  padding-left: 60px;
}
@media (max-width: 900px) {
  .our-pricing .container {
    padding: 50px 20px;
  }
  .our-pricing .pricing-body {
    display: block;
  }
  .our-pricing .pricing-body .pricing-title {
    padding-bottom: 60px;
  }
  .our-pricing .pricing-body .pricing-title h2 {
    padding-bottom: 30px;
  }
  .our-pricing .pricing-body .pricing-table {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
  .our-pricing .pricing-body .pricing-table .price-label span:first-child {
    font-size: 18px;
    padding-right: 5px;
  }
  .our-pricing .pricing-body .pricing-table .price-label span:nth-child(2) {
    display: flex;
    flex-direction: column;
    font-size: 30px;
  }
  .our-pricing .pricing-body .pricing-table .price-label:nth-child(2) {
    padding-left: 0;
  }
}

.book-now {
  text-align: center;
  background-color: #CBF3F0;
}
.book-now .book-now-title {
  margin-bottom: 50px;
}
.book-now .booking-step-1,
.book-now .booking-step-2,
.book-now .booking-step-3 {
  max-height: 0;
  height: 100%;
  transition: max-height 0.5s ease-in, clip-path 0.5s ease-in;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
  padding-top: 20px;
}
.book-now .booking-step-1.active,
.book-now .booking-step-2.active,
.book-now .booking-step-3.active {
  max-height: 1999px;
  clip-path: polygon(0 0, 250% 0, 0 250%);
}
.book-now .booking-step-1 .step-instructions,
.book-now .booking-step-2 .step-instructions,
.book-now .booking-step-3 .step-instructions {
  display: block;
  font-size: 18px;
  max-width: 500px;
  margin: auto;
  padding-bottom: 20px;
}

.booking-container {
  max-height: 0;
  transition: max-height 0.4s ease-out;
  overflow: hidden;
  box-sizing: border-box;
}
.booking-container.active {
  max-height: 2000px;
  padding: 200px 0;
}

.booking-step-1 input.datepicker {
  max-width: 400px;
  margin: 50px;
}
@media (max-width: 900px) {
  .booking-step-1 input.datepicker {
    margin: auto;
  }
}

.daterangepicker.show-calendar .drp-buttons {
  display: flex;
  justify-content: space-between;
}
.daterangepicker.show-calendar .drp-buttons .drp-selected {
  display: none;
}

.booking-step-2 .van-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
  justify-content: center;
}
.booking-step-2 .van-list .van {
  display: none;
  position: relative;
  min-width: 300px;
  max-width: 500px;
  width: 100%;
  height: 450px;
  margin: 30px;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 0px 7px 1px rgba(46, 196, 182, 0.5);
  transition: box-shadow 0.4s ease-out;
}
.booking-step-2 .van-list .van .van-image {
  z-index: 1;
  position: relative;
  height: 100%;
}
.booking-step-2 .van-list .van .van-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.booking-step-2 .van-list .van .description {
  position: absolute;
  bottom: 0;
  text-align: left;
  padding: 15px 25px;
  margin-top: -35px;
  background-color: #2EC4B6;
  border-top-left-radius: 35px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  z-index: 2;
}
.booking-step-2 .van-list .van .description .van-name {
  color: whitesmoke;
  padding: 10px 0;
  margin: 10px 0;
  position: relative;
}
.booking-step-2 .van-list .van .description .van-name::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  height: 1px;
  width: 100%;
  max-width: 0;
  transition: max-width 1s ease-out;
  border-radius: 2px;
  background-color: white;
}
.booking-step-2 .van-list .van .description .van-description {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.6s ease-out;
  color: whitesmoke;
}
.booking-step-2 .van-list .van:hover {
  box-shadow: 0px 0px 15px 5px rgba(46, 196, 182, 0.4);
}
.booking-step-2 .van-list .van:hover .description .van-name::after {
  max-width: 300px;
}
.booking-step-2 .van-list .van:hover .description .van-description {
  max-height: 400px;
}

.booking-step-3 {
  margin-top: 100px;
}
.booking-step-3 form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.booking-step-3 input {
  max-width: 400px;
  box-sizing: border-box;
}
.booking-step-3 .booking-form-radio {
  max-width: 400px;
  width: 100%;
  padding-bottom: 20px;
}
.booking-step-3 .booking-form-radio p {
  padding: 10px 0;
}
.booking-step-3 .booking-form-radio .radio-wrapper {
  text-align: left;
}
.booking-step-3 .booking-form-radio .radio-wrapper label {
  padding-left: 15px;
}
.booking-step-3 .booking-form-radio .radio-wrapper input {
  margin: 20px 0;
}
.booking-step-3 #email,
.booking-step-3 #phone {
  max-width: 0;
  max-height: 0;
  padding: 0;
  transition: max-width 0.2s ease-out;
}
.booking-step-3 #email.active,
.booking-step-3 #phone.active {
  max-width: 400px;
  max-height: 200px;
  padding: 12px 20px;
}
.booking-step-3 button {
  margin-top: 30px;
}

.booking-confirmation {
  max-height: 0;
  transition: max-height 0.4s ease-out;
  overflow: hidden;
}
.booking-confirmation.active {
  max-height: 600px;
  padding: 100px;
}
.booking-confirmation img {
  width: 200px;
}
.booking-confirmation h4 {
  font-size: 34px;
  max-width: 650px;
  margin: auto;
  padding-bottom: 70px;
}

.contact-us {
  text-align: center;
  background-color: #FFBF69;
}
.contact-us h2 {
  padding-bottom: 30px;
}
.contact-us .contacts-label {
  white-space: nowrap;
}

/*# sourceMappingURL=style.css.map */
